{% extends 'base.html.twig' %}

{% block body %}


    <h2 class="text-secondary my-4">Quantum 2018</h2>
    <a class="btn btn-outline-primary mb-4" href="{{ path('registration_index') }}" role="button"><i class="fa fa-chevron-circle-left"></i> Back to list</a>
    <div class="card">
        <div class="card-header">
            <h5 class="text-primary"><b>{{ registration.name }} {{ registration.surname }}</b> <small class="text-muted">{{ registration.email }}</small></h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ registration.institution }}, {{ registration.status }} - {% if registration.fellowship %} Fellowship {% endif %}</li>
                <li class="list-group-item">{{ registration.status }} - {% if registration.fellowship %} Fellowship {% endif %}</li>
                {% if registration.arrivalDate %}<li class="list-group-item">Arrival date: <span class="text-secondary">{{ registration.arrivalDate|localizeddate('none', 'none', 'en_US', null, "cccc, d MMMM Y ") }}</span></li>{% endif %}
                {% if registration.departureDate %}<li class="list-group-item">Departure date: <span class="text-secondary">{{ registration.departureDate|localizeddate('none', 'none', 'en_US', null, "cccc, d MMMM Y ") }}</span></li>{% endif %}
            </ul>
            {% if registration.title %}
                <h4 class="mt-4">{{ registration.title }}</h4>
                <p>{{ registration.abstract }}</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
